<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Comments</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class='wrapper' id="app">
        <main class="main-content" style="background-color:white;">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div v-for="item in list" class="media mt-3">
                            <img src="https://cdn.iconscout.com/icon/free/png-64/face-1659511-1410033.png">
                            <div class="media-body">
                                <div class="card">
                                    <div class="card-body" style="background-color: rgb(240, 240, 240);">
                                        <h5 class="mt-0">${item.user}</h5>
                                        <span style="font-family:Microsoft JhengHei;">${item.info}</span>
                                    </div>
                                </div>
                                <div>
                                    <div v-if="item.re === ''"></div>
                                    <div v-else class="media mt-1">
                                        <img src="https://cdn.iconscout.com/icon/free/png-64/face-1659511-1410033.png">
                                        <div class="card" style="width: 100%;">
                                            <div class="card-body"
                                                style="background-color: rgb(220, 236, 255); width: 100%;">
                                                <div style="float:left;">
                                                    <h5 class="mt-0">Mr.Boots</h5>
                                                </div>
                                                <div>
                                                    <h6 class="mt-0" style="text-align:right;">${item.time}</h6>
                                                </div>
                                                <div>
                                                    <h6 style="font-family:Microsoft JhengHei;text-align:right;">
                                                        ${item.re}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 20px;">
                <h1></h1>
            </div>
        </main>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="BookComments.js"></script>
</body>

</html>