<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Comments</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class='wrapper' id="app">
        <main class="main-content" style="background-color:white;">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div v-for="item in list" class="media mt-3">
                            <img v-bind:src="item.icon" />
                            <div class="media-body">
                                <div class="card">
                                    <div class="card-body" style="background-color: rgb(245, 245, 245); width: 100%;">
                                        <div class="row">
                                            <div class="col">
                                                <div style="float:left;">
                                                    <h5>${item.user}</h5>
                                                </div>
                                                <div style="float:right; font-family:Microsoft JhengHei;">
                                                    <span style="font-size:12px;">
                                                        ${item.time}</span>
                                                </div>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <span style="font-family:Microsoft JhengHei;">${item.info}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div v-if="item.re === ''" class="media mt-1">
                                    </div>
                                    <div v-else class="media mt-1">
                                        <img src="https://s96116157.github.io/mypage/art/face_001.jpg">
                                        <div class="card" style="width: 100%;">
                                            <div class="card-body"
                                                style="background-color: rgb(220, 236, 255); width: 100%;">
                                                <div class="row">
                                                    <div class="col">
                                                        <div style="float:left;">
                                                            <h5>Mr.Boots</h5>
                                                        </div>
                                                        <div style="float:right; font-family:Microsoft JhengHei;">
                                                            <span style="font-size:12px;">
                                                                ${item.time}</span>
                                                        </div>
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col">
                                                        <h6 style="font-family:Microsoft JhengHei;text-align:right;">
                                                            ${item.re}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;">
                    <h1></h1>
                </div>
            </div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
                <div class="ml-auto">
                    <h6 style="color:white">${user_id}</h6>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="collapse"
                        data-target="#collapseExample">Comment</button>
                </div>
            </nav>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom collapse" id="collapseExample">
                <div style="width: 1000px;">
                    <textarea style="min-width: 100%" class="form-control" rows="3" placeholder="留言 50 字以內"
                        v-model="info_txt" maxlength="50"></textarea>
                    <div style="height: 10px;">
                        <h1></h1>
                    </div>
                    <div class="text-center mx-auto">
                        <button type="button" class="btn btn-outline-light btn-sm" v-on:click="send_info">Send</button>
                        <button type="button" class="btn btn-outline-light btn-sm" data-toggle="collapse"
                            data-target="#collapseExample">Close</button>
                    </div>
                </div>
            </nav>
        </main>
    </div>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.3.0/sdk.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="BookComments.js"></script>
</body>

</html>