<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRcode</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="QRcode.css" rel="stylesheet">
</head>

<body>
    <div class='wrapper' id="app">
        <header style="height: 100px;background-color:#2565ae;background-image:url(art/001.jpg)" class='header'>
            <div class="row" style="height: 20px">
                <h1></h1>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <h3 class="text-center mx-auto d-block" style="color:white">
                        智慧巡邏箱
                    </h3>
                </div>
                <div class="col-3">
                    <div class="text-center mx-auto d-block">
                        <button type="button" class="btn btn-lg " v-on:click="_info">
                            <img src="icon/loop-circular.svg" style="height:35px">
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <main class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th v-for="header in headers">
                                    ${header}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="list.length === 0">
                                <td>No data</td>
                                <td>No data</td>
                                <td>No data</td>
                                <td>No data</td>
                            </tr>
                            <tr v-else v-for="item in list">
                                <td>${item.no}</td>
                                <td>${item.time}</td>
                                <td>${item.info}</td>
                                <td>${item.re}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="width: 50px;">
                            <h1></h1>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="creat_info" tabindex="-1" role="dialog" aria-hidden="true"
                    data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#388dee">
                                <div class="text-center mx-auto" style="color:white">
                                    <h3>簽到資訊</h3>
                                </div>
                            </div>
                            <div class="modal-body ">
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <p>地點：${ location }</p>
                                        <p>日期：${ data }</p>
                                        <p>時間：${ time }</p>
                                        <p>註記：${ info }</p>
                                        <textarea placeholder="留言 50 字以內" class="form-control" rows="3"
                                            v-model="info_txt" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <div class="text-center mx-auto">
                                    <button type="button" v-on:click="show_info" class="btn btn-success"
                                        data-dismiss="modal">簽到</button>

                                    <button type="button" v-on:click="_info" class="btn btn-secondary"
                                        data-dismiss="modal">離開</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="show_ok" class="modal fade" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center" style="background-color:#3ebe78">
                                <img src="icon/circle-check-white.svg" style="height:125px">
                            </div>
                            <div class="modal-body text-center">
                                <div style="height: 25px;"></div>
                                <h3>簽到完成</h3>
                                <div style="height: 25px;"></div>
                                <button class="btn btn-success" data-dismiss="modal" style="width:125px">
                                    <span>OK</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h1></h1>
            </div>
        </main>
        <footer class="bd-footer text-muted footer" style="height: 50px;background-color:#2565ae">
        </footer>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="QRcode.js"></script>
</body>

</html>